In [1]:
import pandas as pd
import cpi

hello

In [24]:
cpi.inflate(100, 1913)

2475.959595959596

In [5]:
cpi.inflate(100, 2000, items="Housing")

148.1303066037736

In [6]:
cpi.inflate(100, 2000, items="Housing", area="San Francisco-Oakland-Hayward, CA")

164.65989847715736

In [25]:
cpi.get(1913)

9.9

In [93]:
cpi_data = []
cpi_data = pd.DataFrame(cpi_data)
cpi_data = pd.DataFrame(columns=('year','housing','housing_inf','food','food_inf', 'housing_national', 'housing_national_inf', 'national', 'national_inf'))
years = list(range(1982, 2018))
print (years)
#years = [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
cpi_data.year = years

cpi_data

[1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]

,year,housing,housing_inf,food,food_inf,housing_national,housing_national_inf,national,national_inf
0,1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
housing = []
for y in years:
    housing.append(cpi.get(y, items="Housing", area="San Francisco-Oakland-Hayward, CA"))
cpi_data.housing = housing

In [95]:
housing_inf = []
for year in years:
    housing_inf.append(cpi.inflate(cpi.get(year, items="Housing", area="San Francisco-Oakland-Hayward, CA"),year))
cpi_data.housing_inf = housing_inf

In [96]:
food_inf = []
for year in years:
    food_inf.append(cpi.inflate(cpi.get(year, items="Food", area="San Francisco-Oakland-Hayward, CA"), year))
cpi_data.food_inf = food_inf

In [97]:
food = []
for year in years:
    food.append(cpi.get(year, items="Food", area="San Francisco-Oakland-Hayward, CA"))
cpi_data.food = food

In [105]:
housing_national = []
for y in years:
    print(cpi.get(y, items="Housing"))
    housing_national.append(cpi.get(y, items="Housing"))
cpi_data.housing_national = housing_national

96.9
99.5
103.6
107.7
110.9
114.2
118.5
123.0
128.5
133.6
137.5
141.2
144.8
148.5
152.8
156.8
160.4
163.9
169.6
176.4
180.3
184.8
189.5
195.7
203.2
209.586
216.264
217.057
216.256
219.102
222.715
227.351
233.215
238.06
243.973
251.229

In [106]:
housing_national_inf = []
for y in years:
    print(cpi.inflate(cpi.get(y, items="Housing"),year))
    housing_national_inf.append(cpi.inflate(cpi.get(y, items="Housing"),year))
cpi_data.housing_national_inf = housing_national_inf

96.9
99.49999999999999
103.6
107.7
110.9
114.2
118.5
123.0
128.5
133.6
137.5
141.2
144.8
148.5
152.8
156.8
160.4
163.9
169.6
176.4
180.3
184.8
189.5
195.7
203.2
209.58600000000004
216.264
217.057
216.256
219.102
222.715
227.351
233.215
238.06
243.973
251.229

In [100]:
national = []
for y in years:
    print(cpi.get(y))
    national.append(cpi.get(y))
cpi_data.national = national

96.5
99.6
103.9
107.6
109.6
113.6
118.3
124.0
130.7
136.2
140.3
144.5
148.2
152.4
156.9
160.5
163.0
166.6
172.2
177.1
179.9
184.0
188.9
195.3
201.6
207.342
215.303
214.537
218.056
224.939
229.594
232.957
236.736
237.017
240.007
245.12

In [101]:
national_inf = []
for y in years:
    national_inf.append(cpi.inflate(cpi.get(y),year))
cpi_data.national_inf = national_inf

In [102]:
cpi_data

,year,housing,housing_inf,food,food_inf,housing_national,housing_national_inf,national,national_inf
0,1982,97.800,248.422135,96.900,246.136041,96.900,96.900,96.500,96.500
1,1983,97.700,240.444016,99.100,243.889478,99.500,99.500,99.600,99.600
2,1984,104.500,246.535515,103.900,245.120000,103.600,103.600,103.900,103.900
3,1985,111.200,253.321041,106.000,241.475093,107.700,107.700,107.600,107.600
4,1986,117.500,262.788321,109.500,244.896350,110.900,110.900,109.600,109.600
5,1987,121.500,262.166197,114.000,245.983099,114.200,114.200,113.600,113.600
6,1988,126.900,262.939374,121.100,250.921657,118.500,118.500,118.300,118.300
7,1989,132.400,261.724903,129.100,255.201548,123.000,123.000,124.000,124.000
8,1990,137.300,257.497904,135.700,254.497200,128.500,128.500,130.700,130.700
9,1991,142.700,256.818091,139.900,251.778913,133.600,133.600,136.200,136.200
10,1992,146.200,255.427969,142.300,248.614227,137.500,137.500,140.300,140.300
11,1993,149.200,253.092761,145.900,247.494865,141.200,141.200,144.500,144.500
12,1994,151.500,250.578138,149.000,246.443185,144.800,144.800,148.200,148.200
13,1995,154.500,248.497638,152.000,244.476640,148.500,148.500,152.400,152.400
14,1996,157.400,245.901134,155.700,243.245277,152.800,152.800,156.900,156.900
15,1997,165.600,252.908860,160.600,245.272723,156.800,156.800,160.500,160.500
16,1998,174.400,262.263362,167.100,251.285595,160.400,160.400,163.000,163.000
17,1999,185.600,273.074862,171.500,252.329412,163.900,163.900,166.600,166.600
18,2000,197.000,280.421835,175.700,250.102114,169.600,169.600,172.200,172.200
19,2001,216.500,299.652626,182.200,252.178792,176.400,176.400,177.100,177.100
20,2002,221.400,301.665192,186.100,253.567715,180.300,180.300,179.900,179.900
21,2003,223.700,298.007304,190.600,253.912348,184.800,184.800,184.000,184.000
22,2004,221.500,287.422340,199.700,259.134272,189.500,189.500,188.900,188.900
23,2005,223.800,280.890200,202.900,254.658720,195.700,195.700,195.300,195.300
24,2006,230.500,280.258730,206.500,251.077778,203.200,203.200,201.600,201.600
25,2007,238.090,281.470328,214.973,254.141379,209.586,209.586,207.342,207.342
26,2008,242.561,276.152921,224.299,255.361843,216.264,216.264,215.303,215.303
27,2009,246.168,281.260110,227.533,259.968625,217.057,217.057,214.537,214.537
28,2010,245.183,275.613865,227.018,255.194318,216.256,216.256,218.056,218.056
29,2011,248.980,271.317902,233.682,254.647401,219.102,219.102,224.939,224.939
30,2012,257.142,274.530898,239.472,255.665987,222.715,222.715,229.594,229.594
31,2013,266.418,280.328044,245.873,258.710362,227.351,227.351,232.957,232.957
32,2014,277.507,287.334904,252.960,261.918573,233.215,233.215,236.736,236.736
33,2015,292.780,302.789393,261.569,270.511370,238.060,238.060,237.017,237.017
34,2016,309.311,315.900421,266.767,272.450083,243.973,243.973,240.007,240.007
35,2017,324.380,324.380000,268.496,268.496000,251.229,251.229,245.120,245.120

In [103]:
cpi_data.to_csv(
    "../data/bay_area_cpi.csv",
    index = False
)